.homeInfo {
    width: 35%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.homeInfo h3 {
    color: var(--tone-three); 
    font-size: 25px;
    font-weight: var(--fnt-regular);
}

.homeInfo h2 {
    color: var(--tone-two);
    font-size: 96px;
}

.homeInfo .homeParrafo {
    width: 90%;
    color: var(--tone-three);
    font-weight: var(--fnt-thin);
    font-size: 18px;
}

.homeInfo a {
    margin-top: 30px;
}

.homeCarrusel {
    width: 50%;
}

@media (max-width: 1200px) {
    .homeInfo {
        width: 90%;
    }

    .homeCarrusel {
        width: 100%;
    }

    .homeInfo {
        margin: 50px 0;
    }
}

@media (max-width: 580px) {
    .homeInfo {
        align-items: center;
        text-align: center;
        height: auto;
    }

    .homeInfo h2 {
        font-size: 55px;
    }

    .homeParrafo {
        font-size: 12px;
    }

    
}