/* importacion de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    /* font family */
    --fnt-roboto: 'Roboto', sans-serif;;

    /* regulacion de fuentes */
    --fnt-thin: 100; 
    --fnt-light: 300; 
    --fnt-regular: 400; 
    --fnt-medium: 500; 
    --fnt-bold: 700; 
    --fnt-black: 900;
    
    /* paleta de colores */
    --tone-one: #262626;
    --tone-two: #C4AC78;
    --tone-three: #F2F2F2;
}

.home {
    width: 100%;
    height: 89vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

@media (max-width: 1200px) {
    .home {
        flex-direction: column;
        height: auto;
    }
}

.about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.experience {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
    margin-top: 150px;
}

@media (max-width: 800px) {
    .experience {
        flex-direction: column;
    }
    
}

.service {
    width: 100%;
    height: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(269.18deg, #C1C1C1 39.97%, #F8F8F8 120.36%);
    margin: 50px 0;
}

.titleService {
    font-size: 35px;
    margin-bottom: 20px;
    color: var(--tone-one);
}

.service .sliderService {
    width: 80%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonios {
    width: 100%;
    height: 500px;
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.titleTestimonios {
    font-size: 36px;
    color: var(--tone-two);
}

.testimonios .contentTestimonio {
    width: 800px;
    height: 80%;
    margin-top: 50px;
}

@media (max-width: 800px) {
    .testimonios .contentTestimonio {
        width: 100%;
    }

    .testimonios {
        height: 750px;
    }
    
}

.contact {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titleContact {
    font-size: 35px;
    color: var(--tone-two);
}